.imageContainer{
    display: none;
}

@media only screen and (min-width: 1000px) {
   
    .imageContainer{
        display: block;
        width: 500px;
        height: 450px;
        position: relative;
    }

    .image{
        width: 100%;
        height: 100%;
            object-fit: cover;
        }
}